* {
	box-sizing: border-box;
}

html,
body{
	margin:0;
}

body{
	min-width: 1224px;
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
}

[draggable],
.pb-element {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-khtml-user-drag: element;
	-webkit-user-drag: element;

}

[draggable]:hover,
.pb-element:hover {
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

/* [draggable]:active,
.pb-element:active {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
} */

.pb-content {
	width: 786px;
	margin: 0 auto;
	box-shadow: inset 0 0 0 1px #ddd;
	overflow: hidden;
	border-radius: 3px;

	transition: width 0.2s ease;
}

.pb-content.state-tablet-view {
	width: 530px;
}
.pb-content.state-mobile-view {
	width: 360px;
}

.pb-content-flow{
	padding: 3px 0;
	min-height: 150px;
}


/* static-preview items */
.pb-area-disabled,
.pb-header,
.pb-menu,
.pb-sitemap,
.pb-footer{
	text-align: center;
	padding: 10px 0;
	height: 40px;
	background: #eee;
	position: relative;
}
.pb-menu{
	margin: 3px 0 0;
}

.pb-area-disabled::after,
.pb-header::after,
.pb-menu::after,
.pb-footer::after,
.pb-sitemap::after{
	content:"";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: repeating-linear-gradient(
		-45deg,
		rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0.05) 10px,
		rgba(100, 100, 100, 0.2) 10px, 
		rgba(100, 100, 100, 0.2) 20px,
		rgba(0, 0, 0, 0.05) 20px
	);
}
/* END static-preview items */


[draggable]:active,
.pb-element:active,
.ui-draggable-dragging:hover {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

/* drop layouts */
.pb-layout {
	display: flex;
	width: 100%;
	min-height: 150px;
	padding: 0;
	background: #efefef;

	border: 1px solid #999;
	border-radius: 5px;
	margin: 3px 0 0 0;
	position: relative;

	transform: scale(1);
	transition: all 0.1s linear;
}
.pb-layout:first-child:last-child > .pb-editPanel{
	display: none;
}

.pb-content-flow > .pb-layout:first-child{
	margin: 0;
}

.pb-layout > .pb-layout{
	max-width: 100%;
	width: 580px;
	z-index: 1;
	margin:0 auto;
	min-height: 148px;
	border-radius: 0;
	border-top-width:0;
	border-bottom-width:0;
	border-style: dashed;
}

.state-dropped{
	padding: 34px 30px;
}


	/* inner columns*/
	.pb-columns-layout{
		display: flex;
		justify-content: space-between;
		width: calc(100% - 20px);
		margin: 0 auto;
		height: 100%;
		padding: 10px 0;
	}

	.pb-inner-column{
		background: #fafafa;
		border: 1px solid #333;
		border-radius: 5px;
		min-height: 150px;
		margin: 0 5px;;
	}

	.pb-layout[data-type="content"]::after,
	.pb-layout[data-type="full"]::after,
	.pb-inner-column::after{
		content: "\f12e";
		font-family: 'FontAwesome';
		text-align: center;
		font-size: 28px;

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;

		border:1px dashed #666;
		border-radius: 50%;
		width: 48px;
		height: 48px;
		line-height: 48px;

		transition: all 0.2s ease;
	}
	

	.pb-layout[data-type="full"]::after{
		left: auto;
		right: 25px;
	}
	/**/

.ui-droppable-disabled:not(.state-dropped){
	border-style: dashed;
	background: #fff;
}
.ui-droppable-disabled::before,
.ui-droppable-disabled::after{
	display: none;
}

.state-dropped > .pb-layout,
.ui-droppable-hover > .pb-layout{
	display: none;
}

.pb-layout > .state-dropped{
	border-style: solid;
	margin-top: -1px;
	border-top-width: 1px;
	margin-bottom: -1px;
	border-bottom-width: 1px;
	border-radius: 5px;
}

.ui-droppable-hover:not(.ui-droppable-disabled){
	background: rgba(70, 131, 180, 0.35);
	border-color:cornflowerblue;
	z-index: 1;
}

.ui-droppable-active{
	border-color:cornflowerblue;
	box-shadow: inset 0 0 7px 0 cornflowerblue;

	transform: scale(0.99);
	z-index: 0 !important;
}
.ui-prevent-nested-active .state-dropped .pb-layout{
	box-shadow: none;
	background: #fff;
	border-color:#333;
	transform: scale(1);
}

/* END drop layouts */


/* available blocks to drop */
.pb-elements-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 10px 0;
	position: fixed;
	top: 60px;
	left: 50%;
	margin-left: 410px;
	width: 150px;
	background: #eee;
	border-radius: 5px;
	z-index: 9999;
}

.pb-element {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #999;
	margin: 0 0 10px;
	font-size: 28px;
	font-weight: normal;
	color: #555;
}

.pb-element:first-child {
	margin-left: 0;
}
/* END available blocks to drop*/

/* page scheme */
.pb-page-scheme {
	position: fixed;
	top: 60px;
	left: 20px;
	padding: 10px;
	background: #eee;
	border-radius: 5px;
}

.pb-page-scheme button {}

.pb-page-scheme button:hover {
	cursor: pointer;
}

.pb-page-scheme button[aria-pressed="false"] {}

.pb-page-scheme button[aria-pressed="true"] {
	cursor: not-allowed;
	border: 1px solid black;
}
/* END page scheme */


/* previews content blocks */
.pb-preview{
	width: 100%;
	position: relative;
	box-shadow:inset 0 0 0 1px #999, 2px 2px 4px 0 #999;
	border-radius: 3px;
}

.pb-preview.state-dragging::after{
	content: "";
	position: absolute;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;

	margin: auto;
	background: rgba(22,220,0,0.25)
}

.pb-preview > .fa{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 48px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
}

.pb-preview-title{
	text-align: center;
	margin: 0 0 10px 0;
}

.pb-preview-columns{
	padding: 30px 10px;
}

/* .pb-preview-image{
	height: 80px;
} */

.pb-columns-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	max-width: 440px;
	flex: 1 1 50%;
	margin:0 auto;
}
.pb-columns-variant{
	display: flex;
	text-decoration: none;
	width: calc(50% - 10px);
}
.pb-columns-variant > div{
	border-radius: 5px;
	display: flex;
	background: rgba(153, 153, 153, 1);
	height: 30px;
	margin: 0 3px 13px;
}

.pb-columns-variant:hover > div{
	background: rgba(51, 51, 51, 1);
}

[data-columns="2"] > div{
	flex: 0 1 50%;
}
[data-columns="3"] > div{
	flex: 0 1 33.3333%;
}
[data-columns="4"] > div{
	flex: 0 1 25%;
}
[data-columns="5"] > div{
	flex: 0 1 20%;
}
[data-columns="6"] > div{
	flex: 0 1 16.6666%;
}
/* END previews content blocks*/



/* devices nav*/
.pb-devices{
	display: flex;
	justify-content: center;
	padding: 20px 0 0 0;
}
.pb-devices > a{
	text-decoration: none;

	width: 110px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color:#999;
	border:1px solid #ddd;
	border-bottom: none;
	font-size: 24px;
}
.pb-devices-desktop{
	border-radius: 5px 0 0 0;
}
.pb-devices-tablet{
	margin: 0 -1px;
}
.pb-devices-mobile{
	border-radius: 0 5px 0 0;
}

.pb-devices > a:hover,
.pb-devices > a.active{
	color:#222;
	z-index: 3;
}
.pb-devices > a.active{
	cursor: default;
}
/* END device nav */


/**/
.pb-editPanel{
	position: absolute;
	right: 0;
	top: 0;
	left: auto;
	background: #333;
	color:#fff;
	padding: 5px;
	border-radius: 0 0 0 5px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	transform:none;
	transition: transform 0.2s linear;
}

.pb-editPanel.state-dragging{
	background: transparent;
}
.pb-editPanel.state-dragging a:not([data-type="move"]){
	opacity:0;
}

/* .state-hide-editPanels .pb-editPanel{
	transform: translateX(110%);
} */
.pb-opts-link{
	color:#fff;
	background: rgba(0,0,0,0);
	text-decoration: none;
	font-size: 19px;
	line-height: 19px;
	margin: 0 3px;
	border-radius: 8px;

	outline: none;
}

.pb-opts-link[data-type="move"]{
	cursor: pointer;
}

.pb-opts-link.ui-draggable-dragging[data-type="move"],
.pb-opts-link.ui-draggable-dragging[data-type="move"]:hover{
	background: rgba(0,0,0,1);
	/* padding: 3px; */
	opacity: 1;
	z-index: 9999;
	box-shadow: 0 0 1px 3px rgba(0,0,0,1);
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

/* .pb-opts-link.ui-draggable-dragging[data-type="move"]::before{
	content: "\f12e"
} */

/**/